<div class="modal-body">
    <div class="modal-header">
        <h2 class="modal-header-title">
            <i class="fa fa-info-circle"></i>
            <span class="p-l-1">Loud ML Model</span>
        </h2>

        <a class="modal-header-close" ng-click="dismiss();">
            <i class="fa fa-remove"></i>
        </a>
    </div>

    <div class="modal-content">
        <div class="gf-form-group">
          <div class="gf-form max-width-40">
            <span class="gf-form-label width-6">Name:</span>
            <input
                class="gf-form-input" type="text"
                ng-model='model.model.name'
                min-length="0"
                required
                ng-blur=""
                placeholder="Arbitrary, human-readable name, example: http_req_model"
              />
            <info-popover mode="right-absolute">
              <p>
                Model will be cloned if you set new name for existing model
              </p>
            </info-popover>
          </div>

          <div class="gf-form max-width-40">
            <span class="gf-form-label width-15">Model type</span>
            <input
              class="gf-form-input" type="text"
              ng-model='model.model.type'
              min-length="0"
              required
              ng-blur=""
            />
          </div>

          <div class="gf-form max-width-40">
            <span class="gf-form-label width-15">Bucket</span>
            <input
              class="gf-form-input" type="text"
              ng-model='model.model.default_bucket'
              min-length="0"
              required
              ng-blur=""
              placeholder="Source with input data"
            />
            <info-popover mode="right-absolute">
              <p>
                Available buckets:
                <ul>
                  <li ng-repeat="bucket in model.buckets">{{bucket.name}}</li>
                  <li ng-show="model.buckets.length===0">It may be no buckets configured on LoudML server</li>
                </ul>
              </p>
              <p>
                Buckets should be configured on LoudML server in config.yml
              </p>
              <p>
                Example:
                <pre>
buckets:
  - name: influxdb_internal
    type: influxdb
    addr: 127.0.0.1:8086
    database: _internal
    retention_policy: monitor
    measurement: loudml
                </pre>
              </p>
            </info-popover>
          </div>

          <div class="gf-form max-width-40">
            <span class="gf-form-label width-15">Max training hyper-params iterations</span>
            <input
              class="gf-form-input" type="number"
              ng-model='model.model.max_evals'
              min-length="0"
              required
              ng-blur=""
            />
          </div>

          <div class="gf-form max-width-40">
            <span class="gf-form-label width-15">GroupdBy bucket interval</span>
            <input
              class="gf-form-input" type="text"
              ng-model='model.model.bucket_interval'
              min-length="0"
              required
              ng-blur=""
            />
          </div>

          <div class="gf-form max-width-40">
            <span class="gf-form-label width-15">Span</span>
            <input
              class="gf-form-input" type="number"
              ng-model='model.model.span'
              min-length="0"
              required
              ng-blur=""
            />
          </div>
        </div>

        <div class="gf-form-group">
          <h3 class="page-heading">Feature</h3>

          <div class="gf-form-group" ng-repeat="feature in model.model.features">
            <div class="gf-form max-width-40">
              <span class="gf-form-label width-6">Name:</span>
              <input
                class="gf-form-input" type="text"
                ng-model='feature.name'
                min-length="0"
                required
                ng-blur=""
                placeholder="Arbitrary, human-readable name, example: avg_sys_cpu"
              />

              <info-popover mode="right-absolute">
                <p>
                  Let say we got an InfluxDB query:
                  <pre>
SELECT mean("Alloc") FROM "monitor"."runtime" WHERE $timeFilter GROUP BY time(10s) fill(previous)
                  </pre>
                </p>
                <p>
                  So in this case:
                  <pre>
Measurement - runtime
Field - Alloc
Metric - mean
                  </pre>
                </p>
              </info-popover>
            </div>

            <div class="gf-form-inline">
              <div class="gf-form max-width-40">
                <span class="gf-form-label width-6">Measurement</span>
                <input
                  class="gf-form-input" type="text"
                  ng-model='feature.measurement'
                  min-length="0"
                  required
                  ng-blur=""
                />
                <span class="gf-form-label width-6">Field</span>
                <input
                  class="gf-form-input" type="text"
                  ng-model='feature.field'
                  min-length="0"
                  required
                  ng-blur=""
                />
              </div>
            </div>
            <div class="gf-form-inline">
              <div class="gf-form max-width-40">
                <span class="gf-form-label width-6">Metric</span>
                <input
                  class="gf-form-input" type="text"
                  ng-model='feature.metric'
                  min-length="0"
                  required
                  ng-blur=""
                />
                <span class="gf-form-label width-6">Default</span>
                <input
                  class="gf-form-input" type="text"
                  ng-model='feature.default'
                  min-length="0"
                  required
                  ng-blur=""
                />

                <info-popover mode="right-absolute">
                  <p>
                    How to fill missing values:
                    <pre>0
previous
[leave empty]</pre>
                  </p>
                </info-popover>
              </div>
            </div>
          </div>
        </div>

        <div class="gf-form-group">

          <strong>Predictions</strong>

          <div class="gf-form-inline">
            <div class="gf-form max-width-40">
              <span class="gf-form-label width-6">Interval</span>
              <input
                class="gf-form-input" type="text"
                ng-model='model.model.interval'
                min-length="0"
                required
                ng-blur=""
              />
              <span class="gf-form-label width-6">Offset</span>
              <input
                class="gf-form-input" type="text"
                ng-model='model.model.offset'
                min-length="0"
                required
                ng-blur=""
              />
            </div>
          </div>

          <strong>Anomalies</strong>

          <div class="gf-form-inline">
            <div class="gf-form max-width-40">
              <span class="gf-form-label width-6">Min threshold</span>
              <input
                class="gf-form-input" type="number"
                ng-model='model.model.min_threshold'
                min-length="0"
                required
                ng-blur=""
                placeholder="Optional"
              />

              <span class="gf-form-label width-6">Max threshold</span>
              <input
                class="gf-form-input" type="number"
                ng-model='model.model.max_threshold'
                min-length="0"
                required
                ng-blur=""
                placeholder="Optional"
              />
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-secondary" ng-click="model.addModelPost(); dismiss();">
          Save Model
        </button>
    </div>

</div>

